<link rel="stylesheet" href="/public/stylesheets/nav.css">
<nav class="navbar navbar-expand-lg navbar-primary bg-success">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img src="/images/gameday.svg" height="85" alt="" srcset="">
        </a>

        <div class="collapse navbar-collapse">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a href="#" class="nav-link">Inicio</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">Produtos</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">Carrinho</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">Login</a>
                </li>
            </ul>
        </div>
    </div>
    
</nav>
