<%- include('./partials/head') %> 
<body>
  <%- include('./partials/navbar') %> 
  <br>
<div class="container">
<div class="row">
<div class="col">
  <div class="card">
      <div class="card-header">
          <h3>Cadastre-se</h3>
      </div>
      <div class="card-body">
          <div>
          <img src="/images/formulario.svg" class="img-thumbnail" alt="" srcset="">
        </div>

          <br>

          <p>Não perca as atualizações de nossos <br>
               produtos e serviços através do   <br>
            cadastramento de email e criação de <br>
             usuário.</p>
      </div>
      </div>
      </div>

      <div class="col">
          <div class="card">
              <div class="card-body">
                  <form action="">
                    <label for="nome">Nome completo</label>
                    <input type="text" class="form-control" name="nome" id="">

                    <label for="sobrenome">Email</label>
                    <input type="text" class="form-control" name="sobrenome" id="">

                    <label for="senha">Senha</label>
                    <input type="password" class="form-control" name="senha" id="">

                    <label for="confirm-senha">Confirme sua senha</label>
                    <input type="password" class="form-control" name="confirm-senha" id="">

                    <label for="Email">Data de nascimento</label>
                    <input type="date" class="form-control" name="email" id="">

                    <br>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-success">Criar conta</button>
                    </div>

                  </form>
              </div>
          </div>
      </div>

      </div>

      <br><br><br>
      <hr>
  </div>

</body>
  <%- include('./partials/footer') %> 