<%- include('./partials/head') %> 
<body>
    <%- include('./partials/navbar') %> 
    <br>

    <div class="container">
    <h4 class="mb-3">Escolha forma de pagamento</h4>

    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Produto</th>
            <th scope="col">Preço</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>PS4</td>
            <td>R$1400</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Caneca</td>
            <td>R$30</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Caneca</td>
            <td>R$30</td>
          </tr>
          <br>
          <tr>
            <th scope="row">3</th>
            <td>Caneca</td>
            <td>R$30</td>
          </tr>
        </tbody>
      </table>
      
      <br>

    <div class="custom-control custom-radio">
        <input type="radio" name="paymentMethod" class="custom-control-input" id="creditCard" value="creditCard" onclick="tipoPagamento('creditCard')">
        <label class="custom-control-label" for="creditCard">Cartão de Crédito</label>
    </div>

    <div class="custom-control custom-radio">
        <input type="radio" name="paymentMethod" class="custom-control-input" id="boleto" value="boleto" onclick="tipoPagamento('boleto')">
        <label class="custom-control-label" for="boleto">Boleto</label>
    </div>

    <div class="custom-control custom-radio">
        <input type="radio" name="paymentMethod" class="custom-control-input" id="eft" value="eft" onclick="tipoPagamento('eft')">
        <label class="custom-control-label" for="eft">Pix</label>
    </div>

    <input type="hidden" name="bandeiraCartao" id="bandeiraCartao">
    <input type="hidden" name="valorParcelas" id="valorParcelas">
    <input type="hidden" name="tokenCartao" id="tokenCartao">
    <input type="hidden" name="hashCartao" id="hashCartao">
    
    <div class="col-md-4">
        <label for="validationServer01" class="form-label" class="creditCard">Cartão de Crédito</label>
        <input type="text" class="form-control is-valid" id="validationServer01" name="numCartao" class="form-control" id="numCartao" required>
        
      </div>



    <form class="row g-3">
        <div class="col-md-4">
        <label for="validationServer01" class="form-label" class="creditCard">Mês de Validade</label>
            <input type="text" class="form-control is-valid" id="validationServer01" name="mesValidade" id="mesValidade" maxlength="2" value="12"  class="form-control creditCard" required>
        <div class="valid-feedback">
            Parece bom!!
            </div>
        </div>

    <div class="col-md-4">
        <label for="validationServer02" class="form-label" class="creditCard">Ano de Validade</label>
        <input type="text" class="form-control is-valid" id="validationServer02" name="anoValidade" id="anoValidade" maxlength="4" value="2030" class="form-control creditCard" required>
    <div class="valid-feedback">
        Parece bom!!
    </div>
    </div>
               
     <div class="col-md-4">
        <label for="validationServer01" class="form-label">CVC do cartão</label>
        <input type="text" class="form-control is-valid" id="validationServer01" type="text" name="numCartao" class="form-control creditCard" id="cvvCartao" maxlength="3" value="123" required>
    <div class="valid-feedback">
        Parece bom!!
    </div>
    </div>
    
      
        <div class="col-md-4">
          <label for="validationServer01" class="form-label">Primeiro Nome</label>
          <input type="text" class="form-control is-valid" id="validationServer01" value="João" required>
          <div class="valid-feedback">
            Parece bom!!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationServer02" class="form-label">Nome Do Meio</label>
          <input type="text" class="form-control is-valid" id="validationServer02" value="Pedro" required>
          <div class="valid-feedback">
            Parece bom!!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationServerUsername" class="form-label">Username</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend3">@</span>
            <input type="text" class="form-control is-invalid" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                Por favor, escolha um nome de usuário.
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <label for="validationServer03" class="form-label">Cidade</label>
          <input type="text" class="form-control is-invalid" id="validationServer03" aria-describedby="validationServer03Feedback" required>
          <div id="validationServer03Feedback" class="invalid-feedback">
            Forneça uma cidade válida.
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationServer04" class="form-label">Estado</label>
          <select class="form-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback" required>
            <option selected disabled value="">Escolha...</option>
            <option>AC</option>
            <option>AL</option>
            <option>AP</option>
            <option>AM</option>
            <option>BA</option>
            <option>CE</option>
            <option>DF</option>
            <option>ES</option>
            <option>GO</option>
            <option>MA</option>
            <option>MT</option>
            <option>MS</option>
            <option>MG</option>
            <option>PA</option>
            <option>PB</option>
            <option>PR</option>
            <option>PE</option>
            <option>PI</option>
            <option>RJ</option>
            <option>RN</option>
            <option>RS</option>
            <option>RO</option>
            <option>RR</option>
            <option>SC</option>
            <option>SP</option>
            <option>SE</option>
            <option>TO</option>
          </select>
          <div id="validationServer04Feedback" class="invalid-feedback">
            Selecione um estado válido.
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationServer05" class="form-label">CEP</label>
          <input type="text" class="form-control is-invalid" id="validationServer05" aria-describedby="validationServer05Feedback" required>
          <div id="validationServer05Feedback" class="invalid-feedback">
            Forneça um CEP válido.
          </div>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
            <label class="form-check-label" for="invalidCheck3">
                Concorde com os termos e condições Você deve concordar antes de enviar.
            </label>
            <div id="invalidCheck3Feedback" class="invalid-feedback">
                Você deve concordar antes de enviar.
            </div>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Enviar Dados</button>
        </div>
      </form>
      <br>
    </div>
</body>
<%- include('./partials/footer') %> 