<%- include('./partials/head') %> 
<body>
    <%- include('./partials/navbar') %> 
    <br>
  <div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Produto</th>
            <th scope="col">Preço</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>PS4</td>
            <td>R$1400</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Caneca</td>
            <td>R$30</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Caneca</td>
            <td>R$30</td>
          </tr>
          <br>
          <tr>
            <th scope="row">3</th>
            <td>Caneca</td>
            <td>R$30</td>
          </tr>
        </tbody>
      </table>
      <br>
      <div class="card">
          <div class="row">
              <div class="col">
                Nº do pedido: 0111111
                <br> <br>
                Calcular frete:
                CEP: (__ ___ - ___)
                <br> <br>
                Modalidade 1:
                
              </div>
              <div class="col">
                Valor:
                <br> <br>
                R$3.940,00
                <br> <br>
                Crédito    
                <br> <br>

              </div>
          </div>
      </div>
      <form class="row g-3">
        <div class="col-md-4">
          <label for="validationServer01" class="form-label">Primeiro Nome</label>
          <input type="text" class="form-control is-valid" id="validationServer01" value="João" required>
          <div class="valid-feedback">
            Parece bom!!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationServer02" class="form-label">Nome Do Meio</label>
          <input type="text" class="form-control is-valid" id="validationServer02" value="Pedro" required>
          <div class="valid-feedback">
            Parece bom!!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationServerUsername" class="form-label">Username</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend3">@</span>
            <input type="text" class="form-control is-invalid" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                Por favor, escolha um nome de usuário.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationServer03" class="form-label">Cidade</label>
          <input type="text" class="form-control is-invalid" id="validationServer03" aria-describedby="validationServer03Feedback" required>
          <div id="validationServer03Feedback" class="invalid-feedback">
            Forneça uma cidade válida.
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationServer04" class="form-label">Estado</label>
          <select class="form-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback" required>
            <option selected disabled value="">Choose...</option>
            <option>...</option>
          </select>
          <div id="validationServer04Feedback" class="invalid-feedback">
            Selecione um estado válido.
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationServer05" class="form-label">CEP</label>
          <input type="text" class="form-control is-invalid" id="validationServer05" aria-describedby="validationServer05Feedback" required>
          <div id="validationServer05Feedback" class="invalid-feedback">
            Forneça um CEP válido.
          </div>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
            <label class="form-check-label" for="invalidCheck3">
                Concorde com os termos e condições Você deve concordar antes de enviar.
            </label>
            <div id="invalidCheck3Feedback" class="invalid-feedback">
                Você deve concordar antes de enviar.
            </div>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Enviar Dados</button>
        </div>
      </form>
      <br>
    </div>
</body>
<%- include('./partials/footer') %> 