  <%- include('./partials/head') %> 
  <link rel="stylesheet" href="/public/stylesheets/index.css">
  <body>
    <%- include('./partials/navbar') %> 

    <div class="countainer">
      <main>
        <section class = "produtos">
            <article>
                <h2 id = "canecas">
                Canecas
                </h2>
                <div class = "seccao seccao1">
                <div class = "produto">
                    <a class = imagemproduto><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                    <h3 class = "desktop">
                        Lorem ipsum
                    </h3>
                    <p class = "mobile">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a class = vermais>
                        Ver mais...
                    </a>
                </div>
                <div class = "produto">
                    <a class = imagemproduto><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                    <h3 class = "desktop">
                        Lorem ipsum
                    </h3>
                    <p class = "mobile">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a class = vermais>
                        Ver mais...
                    </a>
                </div>
                <div class = "produto">
                    <a class = imagemproduto><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                    <h3 class = "desktop">
                        Lorem ipsum
                    </h3>
                    <p class = "mobile">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a class = vermais>
                        Ver mais...
                    </a>
                </div>
                <div class = "produto desktop">
                    <a class = imagemproduto><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                    <h3 class = "desktop">
                        Lorem ipsum
                    </h3>
                    <p class = "mobile">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a class = vermais>
                        Ver mais...
                    </a>
                </div>
                <div class = "produto desktop">
                    <a class = imagemproduto><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                    <h3 class = "desktop">
                        Lorem ipsum
                    </h3>
                    <p class = "mobile">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a class = vermais>
                        Ver mais...
                    </a>
                </div>
                <div class = "produto desktop">
                    <a class = imagemproduto><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                    <h3 class = "desktop">
                        Lorem ipsum
                    </h3>
                    <p class = "mobile">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a class = vermais>
                        Ver mais...
                    </a>
                </div>
                </div>
            </article>
            <article>
                <h2 id = "vestuario">
                Vestuário
                </h2>
                <div class = "seccao seccao2">
                <div class = "produto">
                    <a class = imagemproduto><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                    <h3 class = "desktop">
                        Lorem ipsum
                    </h3>
                    <p class = "mobile">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a class = vermais>
                        Ver mais...
                    </a>
                </div>
                <div class = "produto">
                    <a class = imagemproduto><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                    <h3 class = "desktop">
                        Lorem ipsum
                    </h3>
                    <p class = "mobile">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a class = vermais>
                        Ver mais...
                    </a>
                </div>
                <div class = "produto">
                    <a class = imagemproduto><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                    <h3 class = "desktop">
                        Lorem ipsum
                    </h3>
                    <p class = "mobile">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a class = vermais>
                        Ver mais...
                    </a>
                </div>
                <div class = "produto desktop">
                    <a class = imagemproduto><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                    <h3 class = "desktop">
                        Lorem ipsum
                    </h3>
                    <p class = "mobile">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a class = vermais>
                        Ver mais...
                    </a>
                </div>
                <div class = "produto desktop">
                    <a class = imagemproduto><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                    <h3 class = "desktop">
                        Lorem ipsum
                    </h3>
                    <p class = "mobile">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a class = vermais>
                        Ver mais...
                    </a>
                </div>
                <div class = "produto desktop">
                    <a class = imagemproduto><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                    <h3 class = "desktop">
                        Lorem ipsum
                    </h3>
                    <p class = "mobile">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a class = vermais>
                        Ver mais...
                    </a>
                </div>
            </div>
            </article>
            <article>
                <h2 id = "games">
                Games
                </h2>
                <div class = "seccao seccao3">
                <div class = "produto">
                    <a class = imagemproduto><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                    <h3 class = "desktop">
                        Lorem ipsum
                    </h3>
                    <p class = "mobile">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a class = vermais>
                        Ver mais...
                    </a>
                </div>
                <div class = "produto">
                    <a class = imagemproduto><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                    <h3 class = "desktop">
                        Lorem ipsum
                    </h3>
                    <p class = "mobile">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a class = vermais>
                        Ver mais...
                    </a>
                </div>
                <div class = "produto">
                    <a class = imagemproduto><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                    <h3 class = "desktop">
                        Lorem ipsum
                    </h3>
                    <p class = "mobile">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a class = vermais>
                        Ver mais...
                    </a>
                </div>
                <div class = "produto desktop">
                    <a class = imagemproduto><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                    <h3 class = "desktop">
                        Lorem ipsum
                    </h3>
                    <p class = "mobile">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a class = vermais>
                        Ver mais...
                    </a>
                </div>
                <div class = "produto desktop">
                    <a class = imagemproduto><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                    <h3 class = "desktop">
                        Lorem ipsum
                    </h3>
                    <p class = "mobile">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a class = vermais>
                        Ver mais...
                    </a>
                </div>
                <div class = "produto desktop">
                    <a class = imagemproduto><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                    <h3 class = "desktop">
                        Lorem ipsum
                    </h3>
                    <p class = "mobile">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a class = vermais>
                        Ver mais...
                    </a>
                </div>
            </div>
            </article>
        </section>
        <section class = "ofertas desktop">
            <hr>
            <h2>
                Produtos em oferta!
            </h2>
            <div>
                <a class = "seta"> < </a>
                <a><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                <a><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                <a><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                <a><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                <a><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                <a><img src = "https://thumbs.dreamstime.com/b/nenhuma-imagem-da-unha-do-polegar-placeholder-para-f%C3%B3runs-blogues-e-web-site-148010362.jpg"></a>
                <a class = "seta"> > </a>
            </div>
            <hr>
        </section>
    </main>
    </div>

  </body>
    <%- include('./partials/footer') %> 
   
