<%- include('./partials/head') %> 
<body>
  <%- include('./partials/navbar') %> 

  <br>
  

    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="card p-3 py-4">
                    <div class="text-center"> <img src="../images/ricardaopng.jpg" width="auto" class="rounded-circle"> </div>
                    <div class="text-center mt-3"> <span class="bg-secondary p-1 px-4 rounded text-white">Pro-Vendas</span>
                        <h5 class="mt-2 mb-0">Ricardo</h5> <span>Vendedor</span>
                        <div class="px-4 mt-1">
                            <p class="fonts"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia suscipit iste a, ullam dignissimos nesciunt necessitatibus ad molestiae libero vitae molestias ipsam cupiditate, asperiores quo at minus repellendus doloremque laboriosam. </p>
                        </div>
                        <br>
                        <div class="buttons"> <button class="btn btn-outline-primary px-4">Mensagem</button> <button class="btn btn-primary px-4 ms-3">Contato</button> </div>
                        <ul class="social-icons">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-instagram"></i>
                        </ul>
                    
                    </div>
                </div>
            </div>
        </div>
  </div>
  <br>
</body>
<%- include('./partials/footer') %> 