<%- include('./partials/head') %> 
<body>
  <%- include('./partials/navbar') %> 
  <br>
<div class="container">
<div class="row">
<div class="col">
  <div class="card">
  <div class="card-header">
      <h3>Canecas personalizada Yu-Gi-Oh</h3>
  </div>

  <div class="card-body">
    <img src="/images/monitor.svg" class="img-thumbnail" alt="...">
    <h3>Descrição do produto: </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Donec aliquet mauris ut augue bibendum, at viverra ipsum pellentesque.
      Cras euismod consectetur aliquam. Curabitur nec nisi at mauris vehicula facilisis eu in eros.
      Proin imperdiet pellentesque nisi, sit amet facilisis mi iaculis vitae. Mauris a ipsum viverra, fermentum arcu non, pretium nibh.
      Nam consequat bibendum tristique. Phasellus mauris arcu, tincidunt sollicitudin tellus vitae, dictum feugiat mi. Pellentesque vitae placerat lacus.
      Mauris blandit iaculis est ac faucibus. Pellentesque congue metus vitae tellus tempor, eu porta elit ullamcorper. 
     Nam in sapien risus. Integer quis sagittis sem. Donec nec eros eu lorem euismod finibus. Sed eget lectus sem. 
     Pellentesque auctor dui nec dictum congue. </p>
  </div>

  </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-header">
        <h3>Valor e informações:</h3>
      </div>
    <div class="card-body">
      <br><br>

      <h3>RS35,00</h3>

      <br><br>

      <p><span>Em estoque</span></p>
      <p>à vista <br>
        Ou em até 2x de R$17,50/mês</p>

        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-primary">Adicionar ao carrinho</button>
      </div>
    </div>
    </div>
  </div>
  </div>

  <br>
  <hr>

  </div>

</body>
  <%- include('./partials/footer') %> 