.card-body img{
    height: 200px;
}

.forma-pagamento{
    color: #000;
    font-weight: bold;
}

.forma-pagamento h3{
    color: brown;
}

.finalizado {
    color: green
}

.pendente {
    color: #a7a7a7;
}

.cancelado {
    color: red;
}

.card-header img{
    margin: 0 38px;
}

.titulo{
    text-align: center;
}

hr{
    border: 3px solid #000;
}

body {
    background: #eee
}

.card {
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer
}

.card:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #72dfa1;
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom
}

.card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #18a254;
    transform: scaleY(0);
    transition: all 0.5s;
    transform-origin: bottom
}

.card:hover::after {
    transform: scaleY(1)
}

.fonts {
    font-size: 11px
}

.social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0
}

.social-list li {
    padding: 10px;
    color: #18a254;
    font-size: 19px
}

.buttons button:nth-child(1) {
    border: 1px solid #18a254 !important;
    color: #18a254;
    height: 40px
}

.buttons button:nth-child(1):hover {
    border: 1px solid #18a254 !important;
    color: #fff;
    height: 40px;
    background-color: #18a254
}

.buttons button:nth-child(2) {
    border: 1px solid #18a254 !important;
    background-color: #18a254;
    color: #fff;
    height: 40px
}

.forma-pagamento{
    margin: 6px;
    padding: 0px 10px;
}

.social-icons, i{
    margin: 10px;
    padding: 0 5px;
    
}